a {
   text-decoration: none;
   cursor: pointer;
}
 .text_input {
   padding: 5px;
   border-radius: 5px;
   border: 2px #156066 solid;
}
 .link_color {
   color: #0093a6;
}
 .extra_wide_size, .insta_column, .name_width, #nav_main, .quotes_column, #linkinbio_nav_main {
   width: 40vw;
}
 .center {
   text-align: center;
}
 .divider {
   width: 1vw;
}
 .pad, .bar_position, #navbar, #footer, #linkinbionavbar {
   padding: 20px 0;
}
 .right_align {
   text-align: right;
}
 .front_page_image {
   width: 15vw;
   border-radius: 5px;
}
 .body_font, .text_input, body, .button {
   font-family: 'Montserrat', sans-serif;
}
 .body_font_color, .text_input, body {
   color: #113034;
}
 .button {
   background-color: #3aa1aa;
   border: 2px #156066 solid;
   border-radius: 5px;
   color: white;
   padding: 5px 10px 5px 10px;
}
 .nav_font_color, .social {
   color: #383c33;
}
 .nav_font, .nav_main_link, #navbar {
   font-family: 'Bebas Neue', cursive;
}
 .nav_main_link {
   font-weight: bold;
   color: black;
}
 .nav_header {
   font-size: 2em;
   height: 100%;
   margin: -20px 0;
   justify-content: center;
   padding: 0 1vw;
}
 .nav_header_link {
   color: #383c33;
}
 .navbar_background, #navbar, #nav_main, #linkinbionavbar, #linkinbio_nav_main {
   background-color: #ff944f;
}
 .footer_background, #footer {
   background-color: #ffc45c;
}
 .bar_position, #navbar, #footer, #linkinbionavbar {
   position: fixed;
   width: 100vw;
   left: 0;
}
 .flex {
   display: flex;
}
 .flex_col {
   flex-direction: column;
}
 .col_center, .nav_header, .section, .insta_column, #navbar, #footer, #nav_headers, #linkinbionavbar {
   align-items: center;
}
 .flex_spc_even, .section, #story_feed, #quotes_feed {
   justify-content: space-evenly;
}
 .social {
   font-size: 2.5em;
}
 .team_photo {
   width: 20vw;
   height: 20vw;
   border-radius: 50%;
}
 .section {
   padding: 20px;
   font-size: 1.3em;
}
 .sub_header {
   font-size: 1.2em;
   font-weight: 500;
   font-style: italic;
}
 .section_text {
   width: 60vw;
   text-align: justify;
   line-height: 2;
   font-size: 1.5vmax;
}
 .header {
   font-size: 1.8em;
   font-weight: 600;
}
 .header_width {
   width: 20vw;
}
 .invis {
   display: none;
}
 .invalid_input {
   border: 2px red dashed;
}
 .position_font {
   font-size: 1.3em;
}
 #nav_spacer {
   margin-top: 12vh;
}
 #navbar {
   top: 0;
   justify-content: space-between;
   z-index: 10;
   height: 6vh;
}
 #linkinbionavbar {
   top: 0;
   justify-content: center;
   z-index: 10;
   height: 6vh;
}
 #footer {
   bottom: 0;
   justify-content: center;
   padding: 10px !important;
}
 #nav_main {
   font-size: 4em;
   margin-left: 9vw;
   letter-spacing: 0.1rem;
   margin-top: 7vmin;
   padding: 5px;
   width: 15vmin;
   height: 15vmin;
   border-radius: 50%;
}
 #linkinbio_nav_main {
   font-size: 4em;
   letter-spacing: 0.1rem;
   margin-top: 7vmin;
   padding: 5px;
   width: 15vmin;
   height: 15vmin;
   border-radius: 50%;
}
 #footer_spacer {
   margin-bottom: 98px;
}
 #nav_headers {
   margin-right: 5vw;
}
 #logo_div {
   justify-content: center;
   padding-bottom: 0;
}
 #logo_img {
   width: 15vmin;
}
 #newslmodal {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: white;
   z-index: 20;
   box-shadow: 0 0 0 100vmax rgba(150,150,150,0.5);
   border-radius: 5px;
}

#team_content,#quotes_content,#events_content,#stories_content,#contact_content {
  display: none;
}

#linkinbio_links {
  width: 90vw;
}

.quotes_adj {
   width: 40vw;
   font-size: calc(0.9em + 0.3vmax);
}
.quotes_quotes {
   font-size: calc(0.5em + 0.3vmax);
   vertical-align: top;
   margin-top: 0.4vmax;
}
.left_quote {
   margin-right: 5px;
}
.right_quote {
   margin-left: 5px;
}
.linkinbio {
   width: 90vw;
   margin-top: 1.5vh;
   font-size: 1.2em;
   align-self: center;
}

.stories_text{
   text-align: justify;
   line-height: 1.7;
   font-size: calc(1em + 0.4vmax);
}

.stories_header {
   line-height: 1.8 !important;

   text-align:left;
   line-height: 0;
   font-size: 1.5vmax;
}

.stories_div {
   width:40vw;
   margin-bottom: 7vh;
}
.stories_img_p{
   margin-right: 1vw;
   margin-bottom: 1vw;
   float: left;
   margin-block-end: 0px;
   margin-block-start: 0px;

}
.stories_img {
   border-radius: 10px;
   max-width:20vw; 
   max-height:30vh; 
}

.stories_link{

}