a {
   text-decoration: none;
}
 .text_input {
   padding: 5px;
   border-radius: 5px;
   border: 2px #156066 solid;
}
 .link_color {
   color: #0093a6;
}
 .extra_wide_size, .insta_column, .name_width, #nav_main, .quotes_column {
   width: 40vw;
}
 .center {
   text-align: center;
}
 .divider {
   width: 1vw;
}
 .pad, .bar_position, #navbar, #footer {
   padding: 20px 0;
}
 .right_align {
   text-align: right;
}
 .front_page_image {
   width: 15vw;
   border-radius: 5px;
}
 .body_font, .text_input, body, .button {
   font-family: 'Montserrat', sans-serif;
}
 .body_font_color, .text_input, body {
   color: #113034;
}
 .button {
   background-color: #3aa1aa;
   border: 2px #156066 solid;
   border-radius: 5px;
   color: white;
   padding: 5px 10px 5px 10px;
}
 .nav_font_color, .social {
   color: #383c33;
}
 .nav_font, .nav_main_link, #navbar {
   font-family: 'Bebas Neue', cursive;
}
 .nav_main_link {
   font-weight: bold;
   color: black;
}
 .nav_header {
   font-size: 2em;
   height: 100%;
   margin: -20px 0;
   justify-content: center;
   padding: 0 1vw;
}
 .nav_header_link {
   color: #383c33;
}
 .navbar_background, #navbar {
   background-color: #ff944f;
}
 .footer_background, #footer {
   background-color: #ffc45c;
}
 .bar_position, #navbar, #footer {
   position: fixed;
   width: 100vw;
   left: 0;
}
 .flex {
   display: flex;
}
 .flex_col {
   flex-direction: column;
}
 .col_center, .nav_header, .section, .insta_column, #navbar, #footer, #nav_headers {
   align-items: center;
}
 .flex_spc_even, .section, #story_feed, #quotes_feed {
   justify-content: space-evenly;
}
 .social {
   font-size: 2.5em;
}
 .team_photo {
   width: 20vw;
   height: 20vw;
   border-radius: 50%;
}
 .section {
   padding: 20px;
   font-size: 1.3em;
}
 .sub_header {
   font-size: 1.2em;
   font-weight: 500;
   font-style: italic;
}
 .section_text {
   width: 60vw;
   text-align: justify;
   line-height: 2;
}
 .header {
   font-size: 1.8em;
   font-weight: 600;
}
 .header_width {
   width: 20vw;
}
 .invis {
   display: none;
}
 .invalid_input {
   border: 2px red dashed;
}
 .position_font {
   font-size: 1.3em;
}
 #nav_spacer {
   margin-top: 120px;
}
 #navbar {
   top: 0;
   justify-content: space-between;
}
 #footer {
   bottom: 0;
   justify-content: center;
}
 #nav_main {
   font-size: 4em;
   margin-left: 3vw;
   letter-spacing: 0.1rem;
}
 #footer_spacer {
   margin-bottom: 98px;
}
 #nav_headers {
   margin-right: 5vw;
}
 #logo_div {
   justify-content: center;
   padding-bottom: 0;
}
 #newslmodal {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: white;
   z-index: 1;
   box-shadow: 0 0 0 100vmax rgba(150,150,150,0.5);
   border-radius: 5px;
}

.quotes_adj{
   width: 40vw;
}
.quotes_quotes{
   font-size: 10px;
   vertical-align: top;
   margin-top: 5px;
}
.left_quote{
   margin-right: 7px;
}
.right_quote{
   margin-left: 7px;
}


